@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color:#0c0b0be1;
}

main {
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 2px 2px 2px #0c0b0bf8;
    border: 1px thin #0c0b0bf8 ;
    border-top: 1px solid rgba(0, 0, 255, 0.527);
    border-left: 1px solid rgba(0, 0, 138, 0.521);
    border-right: 1px solid rgba(0, 0, 138, 0.521);
    border-bottom: 1px solid rgba(0, 0, 255, 0.527);
}

img {
    
    width: 200px;
    margin-left: 10px;
}

h1 {
    color: rgb(207, 221, 207);
    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to left, yellow,  #00aeff, brown);
    border-radius: 50px;
    margin-top: 10px;
    text-shadow: 0px 2px 3px blue, 2px 0px 3px #ff0000;
    box-shadow: 0px 0px 2px black;
    margin-bottom: 10px;
}

h2 {
    padding: 2px;
    margin: 0;
    text-align: left;
}

p {
    text-align: justify;
    line-height: 22px;
}

li {
    padding: 3px;
    list-style: none;
    text-align: left;
}

ol {
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-left: 50px;
    box-shadow: 0px 0px 1px black;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 182);
}

a:hover {text-decoration: underline blue;}
a:active {color: #ff008c; text-decoration: underline #ff008c; }


#box {
    height: 130px;
}

#content {
    width: 900px;
    margin: 55px 0 0 0;
}

#clm1{display: flex; flex-flow: row; width: 60%;}
#clm2{display: flex; flex-flow: row; width: 90%;}

nav a {
    color: blue;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    width: 115px;
    padding: 10px 2px 2px 5px;
    background-image: linear-gradient(-45deg ,#ffe600, #ffc783);
    border: 1px solid #ffb835;
    border-radius: 15px 20px 15px 20px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 1px #a3a3fd94, 0px 0px 4px orange;
    letter-spacing: 1px;
    line-height: 15px;
    font-size: 1.2em;
    margin-bottom: 2px;
}
nav a:visited {color: purple;}
nav a:hover {background-image: linear-gradient(-45deg ,#e2cc00, #ffc783);text-decoration: none;}
nav a:active {background: #ffe283}

#img {
    margin: 0;
    padding: 0;
}

nav {
    width: 590px;
    display: flex;
    justify-content: space-around;
}
