body {
    font-family: monospace;
    background-image: linear-gradient(to right,#418de4,#2745f0);
}

main {
    margin: auto;
    width: 100%;
}

section {
    align-content: center;
}

h1 {
    text-shadow: 1px 1px 5px #418de4;
    text-align: center;
    font-weight: 1200;
    font-size: 4em;
    margin-bottom: 15px;
    color: white;
    padding: 10px ;
    border:dashed wheat;
    margin-bottom: 40px;
}

p {
    text-shadow: 1px 1px 1px #1443a728;
    background-color: white;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    color: blue;
    border-radius: 10px;
    border-color: #1442a7;
    margin-bottom: 15px;
}

#solid {
    border: 3px solid ;
    display: inline;
    margin-right: 28px;
}

#dobleThick {
    border: thick double ;
    display: inline;
    margin-right: 28px;
}

#ridge {
    border: 15px ridge #1465a7;
margin-top: 10px;

}

#dashed {
    border: 4px dashed #1465a7;
    display: inline;
    
}

#dotted {
    border: dotted;
    margin-bottom: 20px;
    margin-top: 40px;
}

