body {font-family: Arial, Helvetica, sans-serif;}

main {
    width: 40%;
    height: 50%;
    margin:auto;
    background-color: white;
    border-radius: 5px;
    padding:15px;
    box-shadow: 2px 2px 3px rgba(46, 45, 45, 0.39);
    text-align: center;
}

h1{
    text-align: center;
}
h1 {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #807d00d5;
    letter-spacing: 2px
}