main {
    font-family: cursive;
}

ul {
    line-height: 1.5em;
    letter-spacing: 1px;
}

#list-1 {
    text-align: center;
    list-style-type: "\2714";
    line-height: 30px;
    letter-spacing: 1px;
    background-color: aquamarine;
    list-style-position: outside;
    width: 30%;
    padding: 20px;
    border:  1px solid #00ff9d;
    border-radius: 30px;
    box-shadow: 40px 40px 1px #0f0f0f;
    text-shadow: 1px 1px 1px #00ff9d, 0px 0px 1px blue;
    margin-bottom: 20px;
    /*list-style-image: url(image.jpeg);*/   
}
