body {
    font-family: sans-serif;
}

li {
    list-style-type: disc;
}
/*Estilização com base na posição*/

li em {
    color: green;
}

/*Multiplas tags em um seletor*/


/*Estilização com base no estado*/
a:link {
    color: pink;
}

a:visited {
    color: green;
}
/*Combinando Tags*/

/*Descendencia*/
li, span {
    color: rgb(31, 64, 124);
}

/*Seleção filial*/
ul > li { /*li é definido como filho de ul e herda configurações*/
    font-size: 16px;
}

/*Seletor de irmão adjacente*/
